
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

:root {
  --background-color: #d1ecd3;
  --color-ligth-gray: #efefef;
  --card-color: #e4ecdf;
  --font-color: #000;
  --font-title-name: 'Lato';
  --font-title-size: 1.2rem;
  --font-comment-size: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 100px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  background: url('/src/assets/Pokédex_logo.png');
  width: 250px;
  height: 90px;
  background-size: cover;
  cursor: pointer;
}

.nav-bar {
  display: flex;
  gap: 20px;
  flex-grow: 2;
  justify-content: space-evenly;
  list-style: none;
}

.nav-bar li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--font-color);
  font-family: 'Roboto', sans-serif;
}

.nav-link {
  transition: color ease 600ms, font-size ease 600ms;
}

.nav-link:hover {
  color: #29ab82;
  font-size: 1.5rem;
  text-shadow: 14px 8px 9px #c4e6cbfe;
}

.homepage {
  background-image: linear-gradient(to top, #a7e8bb 0%, #e7fdea 100%);
}

.main {
  width: 100%;
  padding: 20px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pokemon {
  width: 250px;
  height: 350px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 10px 20px 10px;
  border-radius: 30px;
  background-image: linear-gradient(to top, #a3edd2 0%, #72c95c 100%);
  transition: transform ease 600ms;
  -webkit-box-shadow: 11px 14px 22px 0 rgba(10, 10, 10, 0.62);
  box-shadow: 11px 14px 22px 0 rgba(15, 15, 15, 0.62);
}

.pokemon:hover {
  transform: scale(1.1);
}

.img-container {
  background-image: linear-gradient(to top, #ebefea 0%, #daefd1 1%, #dff5d1 31%, #d0e9d0 75%, #7fddbd 100%);
  border-radius: 10%;
}

.poke-img {
  width: 180px;
  height: 180px;
  object-fit: contain;
}

.poke-title {
  width: 70%;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.poke-name {
  font-family: var(--font-title-name);
  font-size: var(--font-title-size);
}

.far.fa-heart {
  font-size: var(--font-title-size);
  cursor: pointer;
  transition: color ease 600ms;
}

.far.fa-heart:hover {
  color: #07a40a;
}

.poke-like {
  display: flex;
  margin-top: 5px;
  width: 50%;
  justify-content: flex-end;
  gap: 5px;
}

.likes {
  font-family: var(--font-title-name);
  font-size: 0.9rem;
}

.lk-counter {
  font-family: var(--font-title-name);
  font-size: 0.9rem;
}

.btn-container {
  width: 100%;
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.com-btn {
  width: 80%;
  padding: 12px;
  background-image: radial-gradient(73% 147%, #cfc2da 59%, #ecdfec 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.5) 47%, rgba(0, 0, 0, 0.5) 100%);
  background-blend-mode: screen;
  border-radius: 12px;
  transition: background ease 600ms, border ease 600ms;
}

.com-btn:hover {
  background: #d2d6d0a4;
  border: solid 1px #90c769;
}

.footer {
  width: 100%;
  height: 10vh;
  padding: 10px;
  background: var(--background-color);
  border-top: 3px solid var(--font-color);
}

.footer p {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  align-items: center;
}

.hidden {
  display: none;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  z-index: 5;
}

.com-contain {
  height: 85%;
  padding: 15px;
  background-image: linear-gradient(to top, #d8dfcf 0%, #e9f0e2 100%);
  border-radius: 6px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close-popUp {
  position: absolute;
  background: var(--background-color);
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  transition: background ease 600ms, color ease 600ms;
}

.close-popUp:hover {
  background: #03ddb1;
  color: var(--background-color);
}

.img-div-contain {
  width: 200px;
  height: 200px;
  background-color: var(--background-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  margin-top: 10px;
  margin-left: 20px;
}

.description p {
  font-family: var(--font-title-name);
  font-size: var(--font-title-size);
  margin-right: 20px;
  border: solid 2px var(--background-color);
  padding: 5px;
  border-radius: 8px;
  color: #296d11;
}

.Add-comment {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.comments {
  background-color: #eee;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50px;
  gap: 5px;
  overflow-y: scroll;
}

.comment {
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  border: 1px solid #ccc;
}

.label {
  font-family: var(--font-title-name);
  font-size: var(--font-comment-size);
  text-decoration: underline;
  color: #0c6636;
}

.label2 {
  font-family: var(--font-title-name);
  font-size: var(--font-comment-size);
  margin-left: 20px;
  margin-top: 20px;
  color: #435711;
  text-decoration: underline;
}

.input-name,
.input-area {
  padding: 10px;
  border: 2px solid rgb(10, 9, 9);
  border-radius: 6px;
  flex: 1;
  width: 300px;
  height: 8px;
}

.input-name:focus {
  outline: none;
}

.input-area:focus {
  outline: none;
}

.btn {
  width: 50%;
  padding: 12px;
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.5) 47%, rgba(0, 0, 0, 0.5) 100%);
  background-blend-mode: screen;
  border-radius: 12px;
  transition: background ease 600ms, border ease 600ms;
}

.btn:hover {
  background: #dfdcdc8a;
  border: solid 1px #69c79b;
}
