@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@0,300;1,300;0,500;1,500;0,800;1,800&display=swap');

body {
  margin: 0;
}

* {
  font-family: 'Rubik', sans-serif;
}

.header {
  height: 15vh;
  background-color: silver;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-container {
  display: flex;
  margin-left: 5vw;
}

.pokeball-container {
  width: 50px;
  height: 50px;
}

.pokeball-container img {
  width: 100%;
  height: 100%;
}

.pokedex-container {
  width: 125px;
  height: 50px;
}

.pokedex {
  width: 100%;
  height: 100%;
}

.list-links {
  margin-right: 5vw;
}

.list-links a {
  text-decoration: none;
  margin-left: 15px;
  color: black;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer {
  background: #d6d6d6;
  color: #272a31;
  padding: 20px;
}

.footer-block {
  display: flex;
  max-width: 24rem;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  margin: 0 auto;
}

.footer-block .logo {
  margin-right: 1rem;
  align-self: center;
  justify-self: center;
}

.logo img {
  width: 8rem;
}

.rights h3 {
  margin-top: 10px;
  font-size: 12px;
}
